.left {
  width: 70%;
  margin-right: 1px;
}

.right {
  width: 29%;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.code-box {
  height: 99%;
  width: 99%;
}

.input-box {
  height: 46%;
  width: 99%;
}

.output-box {
  height: 48%;
  width: 99%;
}

.top {
  display: flex;
}

.nav-btn {
  width: 100%;
}

@media only screen and (max-width: 500px) {

  .container {
    flex-direction: column;
  }

  .left {
    width: 99%;
  }

  .right {
    width: 99dvw;
  }
}