@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: Roboto;
  height: 100dvh;
}

* {
  color: #fff;
  background-color: #000;
  font-size: 14px;
}

#root {
  display: flex;
  height: 100%;
}